* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    font-family: "Roboto Condensed", sans-serif;
}

header {
    width: 100%;    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px 40px;
}

.header-container {
    width: 100%;
    display: flex;   
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-container nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    align-items: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 8px; 
    transition: all 0.2s ease;
    display: inline-block; 
}


nav ul li a:hover:not(.tombol-oranye) {
    background-color: rgba(255, 255, 255, 0.2); 
}

nav ul li a:active:not(.tombol-oranye) {
    transform: scale(0.92); 
    background-color: #0d6efd; 
}

.tombol-oranye {
    background-color: #f39c12;
    color: white !important;
    padding: 10px 24px;
    border-radius: 8px;
    transition: all 0.2s ease;
    display: inline-block;
}

.tombol-oranye:active {
    transform: scale(0.92); 
    background-color: #d68910; 


}
section{
    padding: 11rem 80px;
}
.hero-section {
   padding : 0;
   height : 100vh;
   background : linear-gradient(to left,rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('image/Fotoku.jpeg') no-repeat center center/cover;
   background-size : cover;
   background-position : center;
}
.hero-section .hero-container {
    width : 100%;
    padding : 10rem 80px;
}
.hero-section .hero-container .box-title {
    width : 480px;
}
.hero-section .hero-container .title {
    font-size : 60px;
    margin-bottom : 10px;
    color : white;
}
.hero-section .hero-container .subtitle {
    font-size : 25px;
    margin-bottom : 20px;
    color : white;
}
.hero-section .hero-container .btn-hero {
 text-decoration : none;
 padding: 10px 40px;
 background-color : #f39c12;
 border-radius: 10px;
 color : white;
}


.header-container .menu-toggle span:nth-child(2) {
    transform-origin: left;
}
.header-container .menu-toggle span:nth-child(4) {
    transform-origin: left;
}
.header-container .menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}
.header-container .menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0px);
}
.header-container .menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
}

 .card img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    border-radius: 8px; 
    margin-bottom: 15px; 
}
