body { 
    background-color: #121212; 
     background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url('../image/Restoran.jpg') no-repeat center center fixed;
    background-size: cover;
}

.content-section { 
    padding: 8rem 80px; 
}

.active-menu { 
    background-color: orange !important; 
    color: white !important; 
}

.page-title { 
    text-align: center; 
    font-size: 45px; 
    margin-bottom: 40px; 
    color: #ffffff; 
}

.grid-container { 
    display: flex; 
    gap: 30px; 
    justify-content: center; 
    flex-wrap: wrap; 
}


.card { 
    background: #1e1e1e; 
    padding: 30px; 
    border-radius: 12px; 
    width: 30%; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.5); 
    color: #e0e0e0; 
    transition: transform 0.2s ease;
}

.card:hover { 
    transform: translateY(-10px); 
}

.card h3 { 
    color: #f39c12; 
    margin-bottom: 15px; 
}

.card p { 
    line-height: 1.6; 
    color: #cccccc; 
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover; 
    border-radius: 8px; 
    margin-bottom: 15px; 
}
